body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.profil {
    margin: 100px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.navbar {
    background-color: #333;
}

.container-x {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: green;
    border-radius: 12px;
    box-shadow: 10px 10px 10px;
    padding: 3rem;
}

.jumbotron img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    object-fit: cover;
    margin-bottom: 20px;
}
